.callout.callout-warning
  %h4 TrepScore Configuration Error
  %p
    The service raised a <code>TrepScore::ConfigurationError</code> and the error message: <code>#{@reason}</code>.

  %p
    Here's the payload data that might help you figure out what went wrong:

    %pre
      %code
        :preserve
          payload = #{@integration_data.to_hash}
          period  = (Date.parse(#{@range_start})..Date.parse(#{@range_end}))

          service = #{@service.name}.new(payload)
          service.call(period)

  %p Maybe you should <a href="/service/#{@service.hook_name}">go back</a> and try again.
